<footer class="site-footer">
    <div class="inner">
        <section class="copyright">&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a>
    </div>
</footer>