<nav class="menu" role="nav">
    <ul>
      <li>
      	<a href="/about">
			<div class="swan-circle swan-menu-item-1">
				<svg id="swan-menu-item-1-circle" width="90" height="90" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<circle cx="45" cy="45" r="44" fill="none" stroke="#129793" stroke-width="2" />
				</svg>
				<b class="swan-circle-swan swan-circle-inner swan-circle-menu-item-1"></b>
				<h2>About<span class="swan-close-line"></span></h2>
			</div>
		</a>
      </li>
      <li>
      	<a href="/resume">
			<div class="swan-circle swan-menu-item-2">
				<svg id="swan-menu-item-2-circle" width="90" height="90" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<circle cx="45" cy="45" r="44" fill="none" stroke="#9BD7D5" stroke-width="2" />
				</svg>
				<b class="swan-circle-swan swan-circle-inner swan-circle-menu-item-2"></b>
				<h2>Resume<span class="swan-close-line"></span></h2>
			</div>
		</a>
      </li>
      <li>
      	<a href="/contact">
			<div class="swan-circle swan-menu-item-3">
				<svg id="swan-menu-item-3-circle" width="90" height="90" xmlns="http://www.w3.org/2000/svg" version="1.1">
					<circle cx="45" cy="45" r="44" fill="none" stroke="#FF7260" stroke-width="2" />
				</svg>
				<b class="swan-circle-swan swan-circle-inner swan-circle-menu-item-3"></b>
				<h2>Contact<span class="swan-close-line"></span></h2>
			</div>
		</a>
      </li>
    </ul>
</nav>
